.smartcard {
  display: flex;
  width: 100%;
  height: calc(95vh - 100px);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    width: 80%;

    .mat-form-field {
      width: 100%;
    }
  }
}
